{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <title>CloudDB - {{.Title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ if .GoogleAnalyticsEnabled }}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106498461-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{.GoogleAnalyticsID}}');
    </script>
  {{ end }}
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
  <link rel="icon" href="/res/icon-32.png" sizes="32x32"/>
  <link rel="icon" href="/res/icon-192.png" sizes="192x192"/>
  <link rel="apple-touch-icon-precomposed" href="/res/apple-touch-icon.png"/>
  <meta name="msapplication-TileImage" content="/res/tileimage.png"/>
  <link rel="shortcut icon" href="/res/favicon.ico">
  <style>
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
    body{padding-top: 4.5rem}
    .container-fluid{padding: 0}
  </style>
  {{if .HasUser}}
  {{template "nav.html" .}}
  <!-- For the web push notifications -->
  <script src="/res/js/push.js"></script>
  <div class="container my-3">
    {{template "content" .}}
  </div>
  {{else}}
  {{template "content" .}}
  {{end}}
  <!-- Third party -->
  <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist//js/bootstrap.min.js"></script>
  <script src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
  <script src="/res/js/extra.js"></script>
</html>
{{end}}