{{define "content"}}

    {{if .AnyOnline}}
        <h3>Import database</h3>
        <form method="POST" enctype="multipart/form-data" action="/import">
            <div class="form-group row">
                <label for="agent" class="col-sm-3 col-form-label">Database</label>
                <div class="col-sm-9">
                    <select id="agent" name="agent" class="form-control">
                        <option selected disabled hidden style='display: none' value=''>Select one</option>
                        {{range .Agents}}
                            {{if .Up}}
                                <option value="{{.ShortName}}">{{.ShortName}}</option>
                            {{end}}
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="dbname" class="col-sm-3 col-form-label">Dumpfile</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" id="dbdump" name="dbdump" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="dbname" class="col-sm-3 col-form-label">Database name</label>
                <div class="col-sm-9" id="dbnamediv" data-toggle="tooltip" data-placement="right" title="">
                    <input type="text" class="form-control" id="dbname" name="dbname" placeholder="Database name (optional)" pattern="^[a-zA-Z][a-zA-Z0-9_]+$" title="Only alphanumeric characters and underscore, no whitespace. Must begin with a letter of the alphabet.">
                </div>
            </div>
            <div class="form-group row">
                <label for="user" class="col-sm-3 col-form-label">Database user</label>
                <div class="col-sm-9" id="userdiv" data-toggle="tooltip" data-placement="right" title="">
                    <input type="text" class="form-control" id="user" name="user" placeholder="Database user (optional)" pattern="^[a-zA-Z][a-zA-Z0-9_]+$" title="Only alphanumeric characters and underscore, no whitespace. Must begin with a letter of the alphabet.">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Database password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Database password (optional)">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 ml-auto form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="public" name="public"> Make this a public database
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 ml-auto">
                    <button id="submit" type="submit" class="btn btn-primary" disabled>Start import</button>
                </div>
            </div>
        </form>
    {{else}}
        <h3>Agents are offline</h3>
        <p>Since none of the agents are online, I'm afraid I can't let you start an import process.</p>
    {{end}}
{{end}}
